.container {
  display: flex;
  flex-flow: row nowrap;
  height: 4px;
  align-items: stretch;
}

.progress {
  height: 100%;
  background-color: #d24d57;
}

.rest {
  height: 100%;
  background-color: #eeeeee;
}
