:host {
  display: flex;
}

a.fancy {
  border: 2px solid #d24d57;
  width: 120px;
}

a.fancy:link,
a.fancy:visited {
  position: relative;
  display: block;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a.fancy:link:after,
a.fancy:visited:after {
  content: '';
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

a.fancy:link:hover,
a.fancy:visited:hover {
  color: #fff;
  text-shadow: none;
}

a.fancy:after {
  background: #d24d57;
  opacity: 0.5;
  -moz-transform: translateY(-50%) translateX(-50%) rotate(25deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(25deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(25deg);
  transform: translateY(-50%) translateX(-50%) rotate(25deg);
}
a.fancy:hover:after {
  height: 500%;
  opacity: 1;
}

a.primary,
a.primary-red,
a.secondary {
  display: flex;
  align-items: center;
  flex: 1;
  min-height: 56px;
  justify-content: center;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  font-size: 14px;
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  padding-left: 24px;
  padding-right: 24px;
}

a.primary:hover {
  background: #17c;
}

a.primary:focus {
  border-color: #05a;
}

a.primary-red {
  background: #e74c3c;
}

a.primary-red:hover {
  background: #ff6656;
}

a.secondary {
  background: #cccccc;
  color: #444444;
}

a.secondary:hover {
  background: #dddddd;
}

.image {
  width: 24px;
  height: 24px;
  margin: 8px;
}

a.connect,
a.dangerous,
a.positive {
  border-radius: 5px;
  padding: 8px 24px;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15b358;
  cursor: pointer;
}

a.connect:hover {
  background-color: #48e68b;
}

a.dangerous {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #cd6509;
}

a.dangerous:hover {
  background-color: #ff983c;
}

a.positive {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409d;
}

a.positive:hover {
  background-color: #b573d0;
}
