:host {
  display: flex;
}

input {
  flex: 1;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

input:hover {
  background: #17c;
}

input:focus {
  border-color: #05a;
}
