<button
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#uploadImageModal"
>
  Загрузить картинку
</button>

<div
  class="modal fade show no"
  tabindex="-1"
  role="document"
  id="uploadImageModal"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Загрузить фотографию</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div
          class="d-flex justify-content-center"
          *ngIf="fileSelected; else fileNotSelected"
        >
          <img-cropper
            #cropper
            [image]="data"
            [settings]="cropperSettings"
            [inputImage]="inputImage"
          ></img-cropper>
        </div>
        <ng-template #fileNotSelected>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <span class="text-center">
              Друзьям будет проще узнать Вас, если Вы загрузите свою настоящую
              фотографию. Вы можете загрузить изображение в формате JPG, GIF или
              PNG.
            </span>
            <button
              type="button"
              class="btn btn-primary mt-4"
              (click)="selectFile($event)"
            >
              Выбрать файл
            </button>
          </div>
        </ng-template>
      </div>
      <div class="modal-footer">
        <div *ngIf="fileSelected">
          <button type="button" class="btn btn-primary">
            Сохранить и продолжить
          </button>
          <button type="button" class="btn">Вернуться назад</button>
        </div>
      </div>
    </div>
  </div>
</div>

<input
  id="file-input"
  type="file"
  accept="image/*"
  (change)="fileChangeListener($event)"
/>
