<ul class="list-group" *ngFor="let notification of notifications">
  <app-notifications-item
    *ngIf="notification.type === 'pair_invite'"
    [notification]="notification"
    leftButtonName="Присоединиться"
    rightButtonName="Отказать"
    message="приглашает сыграть с ним в турнире"
    (onLeftButtonClick)="pairWithUser(notification)"
    (onRightButtonClick)="dismissInviteNotification(notification)"
  >
  </app-notifications-item>

  <app-notifications-item
    *ngIf="
      notification.type === 'reject_invite' ||
      notification.type === 'decline_join'
    "
    [notification]="notification"
    rightButtonName="Скрыть сообщение"
    message="отклонил вашу заявку"
    (onRightButtonClick)="hideNotification(notification)"
  >
  </app-notifications-item>

  <app-notifications-item
    *ngIf="notification.type === 'accept_join'"
    [notification]="notification"
    rightButtonName="Скрыть сообщение"
    message="включил вас в список участников"
    (onRightButtonClick)="hideNotification(notification)"
  >
  </app-notifications-item>

  <app-notifications-item
    *ngIf="notification.type === 'removed'"
    [notification]="notification"
    rightButtonName="Скрыть сообщение"
    message="удалил вас из списка участников"
    (onRightButtonClick)="hideNotification(notification)"
  >
  </app-notifications-item>
  <app-notifications-item
    *ngIf="notification.type === 'event_invite'"
    [notification]="notification"
    rightButtonName="Скрыть сообщение"
    message="удалил вас из списка участников"
    (onRightButtonClick)="hideNotification(notification)"
  >
  </app-notifications-item>
</ul>
