.dropdown {
  position: absolute;
  display: none;
  transform: translateX(50%) translateY(50%);
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 2px;
  z-index: 1;
}

.container:focus > .dropdown {
  display: flex;
}

.container:not(:focus) > .dropdown {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  outline: none;
}

:host /deep/ .dropdown > * {
  display: flex;
  flex: 1;
  align-self: stretch;
  justify-content: center;
  padding: 8px 16px;
  color: #000;
  cursor: pointer;
}

:host /deep/ .dropdown > *:hover {
  background-color: #f0f0f0;
}
