:host {
  display: flex;
}

.card {
  display: grid;
  border-radius: 10px;
  grid-template-columns: repeat(24, 32px);
  grid-template-rows: repeat(12, 32px);
  background-color: #fff;
  color: #000;
  overflow: hidden;
  cursor: pointer;
}

.image {
  grid-area: 1 / 9 / 13 / 25;
}

.image > img {
  width: 100%;
  height: 100%;
}

.name {
  grid-area: 2 / 2 / 3 / 8;
  font-size: 24px;
}

.location-header {
  grid-area: 4 / 2 / 5 / 5;
}

.location {
  grid-area: 5 / 2 / 6 / 5;
}

.date-header {
  grid-area: 4 / 5 / 5 / 8;
}

.date {
  grid-area: 5 / 5 / 6 / 8;
}

.participants-header {
  grid-area: 7 / 2 / 8 / 8;
}

.participants {
  grid-area: 8 / 2 / 9 / 8;
}

.description-header {
  grid-area: 10 / 2 / 11 / 8;
}

.description {
  grid-area: 11 / 2 / 12 / 8;
}

.longDash {
  transform: scaleX(1.7);
  display: inline-block;
  transform-origin: left top;
}
