<div class="card" (click)="showEvent($event)">
  <div class="name">
    {{ name }}
  </div>
  <div class="location-header">
    Место
  </div>
  <div class="location">
    {{ location }}
  </div>
  <div class="date-header">
    Дата
  </div>
  <div class="date">
    {{ date }}
  </div>
  <div class="participants-header">
    Участники
  </div>
  <div class="participants">
    {{ participants }}
  </div>
  <div class="description-header">
    Описание
  </div>
  <div class="description">
    {{ description }}
  </div>
  <div class="image" [ngStyle]="image">
  </div>
</div>