:host {
  width: 100%;
}

.top-panel {
  display: grid;
  position: sticky;
  top: 0;
  flex-flow: row wrap;
  grid-template-columns: 1fr;
  height: 100px;
}

.header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: end;
  margin-right: 20px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.button {
  margin: 0 10px;
}

.user-content {
  margin: 0px 100px;
  font-size: 20px;
}

.rating-info {
  display: flex;
  flex-direction: 'row';
}

.info {
  display: flex;
  margin-top: 40px;
}

.ttw {
  flex-direction: column;
}

.ttwUrl {
  margin-top: 20px;
}

.rating {
  margin-left: 20px;
}

.email {
  margin-left: 20px;
}

.events {
  margin-top: 50px;
}

.ttwLabel {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 20px;
  border-width: 1px;
  border-style: solid;
  font-size: 0.95em;
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.ttwInput {
  flex: 1;
  padding: 0px;
}

.ttwInput ::ng-deep input {
  border: none;
  padding-left: 0px;
}

.ttwLabel > span {
  align-self: center;
  color: #808080;
  margin-left: 20px;
}

.profile {
  display: flex;
  flex-direction: row;
}

.changeTtwLink {
  margin-left: 20px;
}
