.rating {
  font-size: 16px;
}

.email {
  font-size: 16px;
}

.profile {
  font-size: 16px;
}

.ttw {
  flex-direction: column;
}

.ttwUrl {
  margin-top: 20px;
}


.events {
  margin-top: 50px;
}

.ttwLabel {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 20px;
  border-width: 1px;
  border-style: solid;
  font-size: 0.95em;
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.ttwLabel > span {
  align-self: center;
  color: #808080;
  margin-left: 20px;
}

.profile {
  display: flex;
  flex-direction: row;
}

.changeTtwLink,
.addTtwLink {
  margin-left: 20px;
}


.connect-button {
  background-color: #6610f2;
}

#ttw-input:focus {
  outline: none;
}

#ttw-input {
  border: none;
}

.pointer {
  cursor: pointer;
}

.avatar {
  display: block;
  width: 144px;
  height: 144px;
  border-radius: 50%;
}

.avatarContainer {
  position: relative;
  margin-top: 40px;
  margin-bottom: 50px;
}

.avatarContainer::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 144px;
  height: 144px;
  border-radius: 50%;
  border: 3px solid lightgray;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.4) inset;
}