<header class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="navbarColor03"
style="margin-bottom: 20px">
  <ul class="navbar-nav collapse navbar-collapse">
    <li [ngClass]="{'active': this.isEventsPage}" class="nav-item">
      <a class="nav-link" href="#" routerLink="/events">Соревнования</a>
    </li>
    <li [ngClass]="{'nav-item': true, 'active': isProfilePage}">
      <a class="nav-link" href="#" *ngIf="authorized" [routerLink]="['/users' , userId]">Профиль</a>
    </li>
  </ul>
  <ng-container *ngFor="let action of actions">
  <app-add-event-button *ngIf="action === 'add'"></app-add-event-button>
  <app-edit-user-button *ngIf="action === 'edit'"></app-edit-user-button>
  <app-edit-event-button *ngIf="action === 'edit-event'"></app-edit-event-button>
  </ng-container>
  <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#loginEventModal" *ngIf="!authorized" (click)="showLoginPopup($event)" href="#">Войти</a>
        <a class="nav-link" *ngIf="authorized" (click)="handleLogout($event)" href="#">Выйти</a>
    </li>
  </ul>
</header>

<app-login-form
  *ngIf="showLogin"
  (close)="closeLoginPopup($event)"
></app-login-form>


