<div class="container">
  <nav class="sidebar">
    <ul>
      <li>
        <div class="option logo">Logo</div>
      </li>
      <li>
        <div class="option events" routerLink="/events">Events</div>
      </li>
      <li>
        <div class="option users" routerLink="/users">Users</div>
      </li>
      <li>
        <div class="option acout">About</div>
      </li>
    </ul>
  </nav>
  <div class="option sign-in" *ngIf="authorized" (click)="handleLogout($event)">
    Logout
  </div>
  <div class="option sign-in" *ngIf="!authorized" (click)="handleLogin($event)">
    Login
  </div>

</div>