:host {
  align-self: flex-start;
}

.attendees-grid {
  display: grid;
  grid-template-columns:
    auto minmax(200px, auto) minmax(100px, auto)
    minmax(100px, auto);
  grid-auto-rows: minmax(42px, auto);
}

.header {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Raleway;
  font-size: 14px;
  padding: 20px 0;
  grid-column: 2 / -1;
  align-self: center;
}

.column {
  align-self: center;
}

.number {
  justify-self: right;
  opacity: 0.5;
}

.number::after {
  content: '.';
  margin-right: 6px;
}

.title {
  font-family: Raleway;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.button {
  margin: 0px, 5px;
}

.button {
  margin-left: 10px;
  margin-right: 10px;
}

.rating {
  margin: 0px 20px;
}

.name {
  word-wrap: break-word;
}
