<div>
  <div class="attendees-grid">
    <div class="header">{{ title }}</div>
    <ng-container *ngFor="let item of items; let i = index">
      <div class="column number">
        <span>{{ item.index }}</span>
      </div>
      <div class="column name">
        <a [routerLink]="['/users', item.userId]">{{ item.displayName }} </a>

        <span *ngIf="item.pairedUserName"
          >/
          <a [routerLink]="['/users', item.pairedUser.userId]"
            >{{ item.pairedUserName }}
          </a></span
        >

        <div
          *ngIf="
            !item.pairedUser &&
            currentUserId !== item.userId &&
            currentAttendee.pairedUserId !== item.userId
          "
          class="column join"
        >
          <button (click)="pairWithUser(item.userId)">
            Присоединиться
          </button>
        </div>
        <span
          ><a
            href="#"
            *ngIf="!item.pairedUser"
            (click)="openRequestersPopup($event, item.userId)"
            >Хотят присоединиться {{ item.requesters.length }}</a
          >
        </span>
        <app-popup
          *ngIf="popupUserId == item.userId"
          title="Хотят присоединиться к {{ item.displayName }}"
          (close)="closeRequestersPopup()"
        >
          <div class="popup-content">
            <ul>
              <ng-container *ngFor="let requester of item.requesters">
                <li>
                  <span>{{ requester.displayName }}</span>
                  <button
                    *ngIf="currentUserId !== requester.userId"
                    (click)="pairWithUser(requester.userId)"
                  >
                    Принять запрос
                  </button>
                </li>
              </ng-container>
            </ul>
          </div>
        </app-popup>
      </div>
      <div class="column rating">{{ item.rating }}</div>
      <div class="column options">
        <ng-container *ngFor="let action of item.actions">
          <app-icon-button
            class="button"
            (click)="action.onClick()"
            [image]="'/assets/' + action.icon"
          ></app-icon-button>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
