<!-- <div>
  <div class="attendees-grid">
    <div class="header">{{ title }}</div>
    <ng-container *ngFor="let item of items; let i = index">
      <div class="column number">
        <span>{{ item.index }}</span>
      </div>
      <div class="column name">
        <a [routerLink]="['/users', item.userId]">{{ item.displayName }} </a>

        <span *ngIf="item.pairedUserName"
          >/
          <a [routerLink]="['/users', item.pairedUser.userId]"
            >{{ item.pairedUserName }}
          </a></span
        >

        <div
          *ngIf="
            !item.pairedUser &&
            currentUserId !== item.userId && currentAttendee &&
            currentAttendee.pairedUserId !== item.userId
          "
          class="column join"
        >
          <button (click)="pairWithUser(item.userId)">
            Присоединиться
          </button>
        </div>
        <span
          ><a
            href="#"
            *ngIf="!item.pairedUser"
            (click)="openRequestersPopup($event, item.userId)"
            >Хотят присоединиться {{ item.requesters.length }}</a
          >
        </span>
        <app-popup
          *ngIf="popupUserId == item.userId"
          title="Хотят присоединиться к {{ item.displayName }}"
          (close)="closeRequestersPopup()"
        >
          <div class="popup-content">
            <ul>
              <ng-container *ngFor="let requester of item.requesters">
                <li>
                  <span>{{ requester.displayName }}</span>
                  <button
                    *ngIf="currentUserId !== requester.userId"
                    (click)="pairWithUser(requester.userId)"
                  >
                    Принять запрос
                  </button>
                </li>
              </ng-container>
            </ul>
          </div>
        </app-popup>
      </div>
      <div class="column rating">{{ item.rating }}</div>
      <div class="column options">
        <ng-container *ngFor="let action of item.actions">
          <app-icon-button
            class="button"
            (click)="action.onClick()"
            [image]="'/assets/' + action.icon"
          ></app-icon-button>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div> -->

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Первый участник</th>
      <th>Второй участник</th>
      <th>Сумарный рейтинг</th>
      <th>Статус</th>
    </tr>
  </thead>
  <tbody>
    <ng-container
      *ngFor="let attendee of attendees; let i = index; trackBy: trackById"
    >
      <tr>
        <td>{{ i + 1 }}</td>
        <td>
          {{ attendee.attendeeName }}
          <span class="ml-2">{{ attendee.attendeeRating }}</span>
        </td>
        <td>
          <span *ngIf="attendee.teammateName; else invite_teammate">
            {{ attendee.teammateName }}
            <span class="ml-2">{{ attendee.teammateRating }}</span>
          </span>
          <ng-template #invite_teammate>
            <app-invite-user-button
              *ngIf="
                currentUser &&
                  currentUser.id === attendee.id;
                else join_team
              "
            ></app-invite-user-button>
          </ng-template>
          <ng-template #join_team>
            <a
              href="#"
              *ngIf="
                !attendee.pairedUserId &&
                currentUser &&
                currentUser.id !== attendee.id &&
                currentUser.pairedUserId !== attendee.id
              "
              (click)="pairWithUser(attendee.id)"
            >
              Присоединиться
            </a>
          </ng-template>
        </td>
        <td>{{ attendee.totalRating }}</td>
        <td [ngSwitch]="attendee.status">
          <div *ngSwitchCase="'join_request'">
            <span>Желает присоединиться</span>
            <a href="#" class="ml-2" (click)="accept(attendee.userId)"
              >Принять</a
            >
            <a href="#" class="ml-2" (click)="kick(attendee.userId)"
              >Отказать</a
            >
          </div>
          <span *ngSwitchCase="'invited'">Приглашен</span>
          <div *ngSwitchCase="'approved'">
            <span>Участник</span>
            <a href="#" class="ml-2" (click)="kick(attendee.userId)">Удалить</a>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
