:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: raleway;
}

form {
  width: 400px;
  margin: 50px auto;
  text-align: center;
}

input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 13px;
  margin-bottom: 10px;
}

fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
}

.header {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.submit {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Raleway;
  color: #fff;
  background-color: rebeccapurple;
  cursor: pointer;
}
