<button
  class="btn btn-primary mr-2 my-sm-0"
  data-toggle="modal"
  data-target="#editEventModal"
>
  Редактировать соревнование
</button>

<div class="modal fade show" id="editEventModal" tabindex="-1" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Редактировать соревнование</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form" [formGroup]="editForm" (ngSubmit)="saveEvent($event)">
        <div class="modal-body">
          <div class="form-group">
            <input
              id="event-name"
              class="form-control my-3"
              value="{{ currentEvent.name }}"
              formControlName="name"
              placeholder="Название"
            />
            <input
              id="event-description"
              class="form-control my-3"
              value="{{ currentEvent.description }}"
              formControlName="description"
              placeholder="Описание"
            />
          </div>
          <div class="edit-cover-layout d-inline-flex align-items-center">
            <div
              *ngIf="coverMediaId"
              class="edit-cover-preview"
              [ngStyle]="editCoverPreviewStyle"
            ></div>
            <app-progress-bar
              *ngIf="uploading"
              class="edit-cover-upload-progress"
              [progress]="uploadProgress"
            ></app-progress-bar>
            <label *ngIf="!uploading" class="edit-cover-change mb-0 ml-0">
              <input
                id="file-input"
                type="file"
                accept="image/*"
                (change)="upload($event)"
              />
              <button
                *ngIf="coverMediaId; else addCover"
                class="btn btn-primary ml-3"
                (click)="handleFileButtonClick($event)"
              >
                Изменить
              </button>
              <ng-template #addCover>
                <button
                  class="btn btn-primary"
                  (click)="handleFileButtonClick($event)"
                >
                  Добавить картинку
                </button>
              </ng-template>
            </label>
            <span class="ml-3">
              <button
                *ngIf="!uploading && coverMediaId"
                class="edit-cover-remove btn btn-primary"
                (click)="removeCover($event)"
              >
                Удалить
              </button>
            </span>
          </div>
          <div class="custom-control custom-switch mt-3">
            <input
              formControlName="pair"
              type="checkbox"
              class="custom-control-input"
              id="pairSwitch"
              [checked]="paired"
            />
            <label class="custom-control-label" for="pairSwitch">
              Парное соревнование
            </label>
          </div>
          <div class="custom-control custom-switch mt-3">
            <input
              formControlName="publish"
              type="checkbox"
              class="custom-control-input"
              id="publishSwitch"
              [checked]="published"
            />
            <label class="custom-control-label" for="publishSwitch">
              Опубликовать
            </label>
          </div>
          <div class="form-group mt-3">
            <label for="startsAtDate">Начинается:</label>
            <input
              type="datetime-local"
              class="form-control"
              formControlName="startsAtDate"
              [value]="startsAtDate"
            />
          </div>
          <div class="form-group mt-3">
            <label for="endsAtDate">Заканчивается:</label>
            <input
              type="datetime-local"
              class="form-control"
              formControlName="endsAtDate"
              [value]="endsAtDate"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
