<button
  class="btn btn-primary mr-2 my-sm-0"
  data-toggle="modal"
  data-target="#editEventModal"
  (click)="showEditEventModal()"
>
  Редактировать соревнование
</button>

<div class="modal fade show" id="editEventModal" tabindex="-1" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Редактировать соревнование</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form" [formGroup]="editForm" (ngSubmit)="saveEvent($event)">
        <div class="modal-body">
          <app-form-error *ngIf="errorMessage"  message="{{errorMessage}}"></app-form-error>
          <div class="form-group">
            <input
              id="event-name"
              class="form-control"
              [ngClass]="{'is-invalid':name.invalid && (name.dirty || name.touched) }"
              [value]="name.value"
              formControlName="name"
              placeholder="Название"
              required
            />
            <div class="invalid-feedback">
              Название не должно быть пустым
            </div>
            <input
              id="event-description"
              class="form-control my-3"
              value="{{ currentEvent.description }}"
              formControlName="description"
              placeholder="Описание"
            />
          </div>
          <div class="edit-cover-layout d-inline-flex align-items-center">
            <div
              *ngIf="coverMediaId"
              class="edit-cover-preview"
              [ngStyle]="editCoverPreviewStyle"
            ></div>
            <app-progress-bar
              *ngIf="uploading"
              class="edit-cover-upload-progress"
              [progress]="uploadProgress"
            ></app-progress-bar>
            <label *ngIf="!uploading" class="edit-cover-change mb-0 ml-0">
              <input
                id="file-input"
                type="file"
                accept="image/*"
                (change)="upload($event)"
              />
              <button
                type="button"
                *ngIf="coverMediaId; else addCover"
                class="btn btn-primary ml-3"
                (click)="handleFileButtonClick($event)"
              >
                Изменить
              </button>
              <ng-template #addCover>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="handleFileButtonClick($event)"
                >
                  Добавить картинку
                </button>
              </ng-template>
            </label>
            <span class="ml-3">
              <button
                type="button"
                *ngIf="!uploading && coverMediaId"
                class="edit-cover-remove btn btn-primary"
                (click)="removeCover($event)"
              >
                Удалить
              </button>
            </span>
          </div>
          <div class="custom-control custom-switch mt-3">
            <input
              formControlName="pair"
              type="checkbox"
              class="custom-control-input"
              id="pairSwitch"
              [checked]="paired"
            />
            <label class="custom-control-label" for="pairSwitch">
              Парное соревнование
            </label>
          </div>
          <div class="custom-control custom-switch mt-3">
            <input
              formControlName="publish"
              type="checkbox"
              class="custom-control-input"
              id="publishSwitch"
              [checked]="published.value"
            />
            <label class="custom-control-label" for="publishSwitch">
              Опубликовать
            </label>
          </div>
          <div class="custom-control custom-switch mt-3">
            <input
              type="checkbox"
              class="custom-control-input"
              id="endsRegAtSwitch"
              [checked]="showEndsRegAt"
              (click)="toggleEndsRegSwitch()"
            />
            <label class="custom-control-label" for="endsRegAtSwitch">
              Показать дату окончания регистрации
            </label>
          </div>
          <div class="form-group mt-3">
            <label for="startsAtDate">Начинается:</label>
            <input
              class="form-control"
              mode="daytime"
              [value]="startsAtDate"
              [ngClass]="{'is-invalid':startsAt.invalid && (startsAt.dirty || startsAt.touched)}"
              formControlName="startsAtDate"
              theme="dp-material"
              [dpDayPicker]="config"
            />
          </div>
          <div class="form-group mt-3">
            <label for="endsAtDate">Заканчивается:</label>
            <input
              class="form-control"
              mode="daytime"
              value="{{endsAtDate}}"              
              [ngClass]="{'is-invalid':endsAt.invalid && (endsAt.dirty || endsAt.touched) }"
              formControlName="endsAtDate"
              theme="dp-material"
              [dpDayPicker]="config"
            />
            <div class="invalid-feedback">
              Дата завершения соревнования должна быть больше начала соревнования
            </div>
          </div>
          <div *ngIf="showEndsRegAt" class="form-group mt-3">
            <label for="endsRegAtDate">Окончание регистрации:</label>
            <input
              class="form-control"
              mode="daytime"
              [value]="endsRegAtDate"
              [ngClass]="{'is-invalid':endsRegAt.invalid && (endsRegAt.dirty || endsRegAt.touched)}"
              formControlName="endsRegAtDate"
              theme="dp-material"
              [dpDayPicker]="config"
            />
            <div class="invalid-feedback">
              Дата регистрации соревнования должна быть меньше начала соревнования
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#removeEventModal"
            (click)="closeEditEventModal()"
          >
            <fa-icon class="mr-2" [icon]="faTrashAlt"></fa-icon>
            Удалить
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">
            Сохранить
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade show"
  id="removeEventModal"
  tabindex="-1"
  role="document"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Удалить соревнование</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="showEditEventModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Действие нельзя будет отменить</span>
      </div>
      <div class="modal-footer d-inline-flex align-items-center">
        <button
          class="btn btn-primary"
          (click)="showEditEventModal()"
          data-dismiss="modal"
        >
          Отмена
        </button>
        <button (click)="removeEvent($event)" class="btn btn-danger">
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>
