<button
  class="btn btn-primary my-sm-0"
  data-toggle="modal"
  data-target="#inviteUserModal"
>
  Пригласить игрока
</button>

<div class="modal fade show" id="inviteUserModal" tabindex="-1" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Пригласить игрока</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        class="form"
        [formGroup]="inviteForm"
        (ngSubmit)="inviteUser($event)"
      >
        <div class="modal-body">
          <div class="form-group">
            <ng-select
              [searchable]="true"
              id="select"
              autofocus
              formControlName="invitedUser"
            >
              <ng-option *ngFor="let user of users" [value]="user.id">
                <span>{{ user.name }}</span>
                <span class="ml-2">{{ user.rating }}</span>
              </ng-option>
            </ng-select>
          </div>
          <h5 *ngIf="requesters.length > 0" class="requesters-header">Участники, которые хотят присоединиться:</h5>
          <table class="table table-borderless">
            <tbody>
              <ng-container *ngFor="let requester of requesters; let i = index">
                <tr>
                  <td>
                    <span>{{ requester.name }}</span>
                  </td>
                  <td>
                    <span>{{ requester.rating }}</span>
                  </td>
                  <td>
                    <button class="btn btn-primary" (click)="pairWithUser(requester.userId)">Принять в команду</button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">
              Сохранить
            </button>
          </div>
      </form>
    </div>
  </div>
</div>
