:host {
  width: 100%;
}

.top-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: sticky;
  top: 0;
  flex-flow: row wrap;
  z-index: 1;
  background: #263238;
  height: 100px;
}

.add-button {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  justify-self: end;
  margin-right: 20px;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
}

.events {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
