:host {
  display: flex;
}

label {
  flex: 1;
}

input,
textarea {
  box-sizing: border-box;
  display: block;
  flex: 1;
  align-self: stretch;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-size: 0.95em;
  background: #fff;
  border-color: #bbb;
  color: #555;
  resize: vertical;
  font-family: sans-serif;
}

input:focus,
textarea:focus {
  border-color: #888;
}
