<button
  class="btn btn-primary mr-2 my-sm-0"
  data-toggle="modal"
  data-target="#addEventModal"
>
  Добавить соревнование
</button>

<div class="modal fade show" id="addEventModal" tabindex="-1" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Создать соревнование</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form" [formGroup]="createForm" (ngSubmit)="addEvent($event)">
        <div class="modal-body">
          <div class="form-group">
            <input
              id="event-name"
              class="form-control"
              [ngClass]="{'is-invalid':name.invalid && (name.dirty || name.touched) }"
              [value]="name.value"
              formControlName="name"
              placeholder="Введите название соревнования"
            />
            <div class="invalid-feedback">
              Название не должно быть пустым
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid">Создать</button>
        </div>
      </form>
    </div>
  </div>
</div>
