.container {
  width: 400px;
}

form {
  background: #ebebeb;
}

fieldset {
  border: 0;
}

app-input {
  padding: 10px 20px;
}

app-submit {
  padding: 10px 20px;
}

.form-group {
  padding: 12px;
}

#form-switch {
  display: none;
}

.header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.register {
  display: none;
}

.register-switch {
  text-align: center;
  width: 100%;
  text-decoration: underline;
  color: #888;
  padding-bottom: 20px;
  margin-top: -12px;
}

.switch-text {
  cursor: pointer;
  font-size: 12px;
}

#form-switch:checked ~ .register {
  display: block;
}
#form-switch:checked ~ .sign-in {
  display: none;
}

.sign-in {
  position: relative;
}

.register {
  position: relative;
}

app-close {
  position: absolute;
  right: 20px;
  top: 20px;
}
