.event-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.header {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Raleway;
  font-size: 14px;
  padding: 20px 0;
}
