<app-sidebar
  current="my-events"
  (showAddEventClick)="showAddPopup()"
  (loginClick)="showLoginPopup()"
  [actions]="sidebarActions"
></app-sidebar>


<app-events-table class="events" [events]="currentEvents">
  <div style="margin: 1em 2em">
    <div class="text__past-events">
      Текущие соревнования
    </div>
    <div class="divider"></div>
  </div>
</app-events-table>

<app-events-table class="events" [events]="pastEvents">
  <div style="margin: 1em 2em">
    <div class="text__past-events">
      Прошедшие соревнования
    </div>
    <div class="divider"></div>
  </div>
</app-events-table>
