.attendees {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.top-panel {
  display: grid;
  position: sticky;
  top: 0;
  flex-flow: row wrap;
  grid-template-columns: 1fr;
  height: 100px;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
}

.event-image {
  display: block;
  width: 100%;
  height: auto;
}

.date-header {
  grid-area: 2 / 1 / 2 / 2;
}

.date {
  grid-area: 2 / 2 / 2 / 3;
}
.date {
  margin-left: 20px;
}

.text {
  font-size: 20px;
  line-height: 30px;
}

.description {
  margin-bottom: 50px;
}

.date-container {
  margin-bottom: 50px;
}

.m-10 {
  margin: 100px;
}


.flex {
  flex: 1;
}

.attendees-table {
  margin-top: 100px;
}

.text {
  font-size: 1.1rem;
}

.bold {
  font-weight: bold;
}

.ml-10 {
  margin-left: 10em;
}

.register {
  background-color: indianred
}