<div class="event" *ngIf="event">
  <app-sidebar [actions]="sidebarActions"> </app-sidebar>
  <app-login-form
    *ngIf="showLogin"
    (close)="closeLoginPopup($event)"
  ></app-login-form>
  <div class="top-panel">
    <app-header class="header">{{ event.name }}</app-header>
  </div>
  <div class="event-content">
    <div class="left">
      <div class="description text">{{ event.description }}</div>
      <div *ngIf="dateValid" class="date-container text">
        <div class="date-header">Дата</div>
        <div class="date">{{ date }}</div>
      </div>

      <app-button
        class="registerButton"
        appearance="positive"
        *ngIf="canRegister"
        (press)="register()"
        value="Записаться"
      >
      </app-button>

      <app-attendees-table
        *ngIf="participants.length > 0"
        [eventOwner]="eventOwner"
        (remove)="removeUser($event)"
        title="Участники"
        [attendees]="participants"
        [eventId]="eventId"
      >
      </app-attendees-table>
    </div>
    <div class="right">
      <img [src]="image" />
    </div>
  </div>
</div>
